* {margin: 0;padding: 0;box-sizing: border-box;font-size: inherit;font-weight: normal;color: inherit;}
ul,ol {list-style: none;}
a {text-decoration: none;}
img {vertical-align: middle;}
body {line-height: 1;}

header {
    text-align: left;
    font-size: 200%;
    font-weight: bold
}
.gr01 {
    padding: 100px 0;
    background-color: rgb(68, 167, 196);
    text-align: center;
}
.gr01 h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}
 .gr01 h2 {
     font-size: 30px;
     font-weight: bold;
     color: white;
     margin-bottom: 20px;
     margin-top: 20px;
 }
 .gr01 p {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    padding: 0 15px;
}
.gr01 a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}
.gr01 .container {
    margin: 0 auto;
    width: 1200px;
}
.gr01 .container::after{
    content:"";
    display: block;
    clear: both;
}
.gr01 figure {
    float: left;
    width: 33.3333333%;
}
.gr01 figure img {
    width: 100%;
    padding: 0 15px;
}


